:root {
    --blue: rgb(43, 127, 253);
    --black: rgb(44, 43, 43);
    --grey: rgb(90, 88, 88);
    --yellow: rgb(255, 208, 0);
    --brown: rgb(155, 47, 47);
    --white: rgb(255, 255, 255, 0.9);
    --bigger-font: 70px;
    --big-font: 38px;
    --medium-font: 26px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    color: var(--white);
    scroll-behavior: smooth;
}

h2 {
    font-size: var(--big-font);
}

h3 {
    font-size: 22px;
}

a {
    text-decoration: none;
}

:target {
    scroll-margin-top: 71px;
}

#navbar {
    background-color: var(--blue);
    padding: 20px 60px;
    display: flex;
    justify-content: end;
    gap: 60px;
    position: fixed;
    width: 100%;
    top: 0;
}

#navbar a {
    font-size: var(--medium-font);
    color: var(--white);
    font-weight: 900;
}

#navbar a:hover {
    color: var(--black);
}

#welcome-section {
    height: 100vh;
    background-color: var(--brown);
    display: flex;
    justify-content: center;
    align-items: center;
}

#welcome-section h1 {
    text-align: center;
    width: 30ch;
    line-height: 1.4;
    font-size: var(--big-font);
}

#projects {
    background-color: var(--black);
    padding: 30px 8%;
    min-height: calc(100vh - 71px);
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    justify-content: center;
    align-content: space-around;
    gap: 30px 8%;
}

#projects h2 {
    grid-column: 1 / -1;
    justify-self: center;
}

.project-tile {
    background-color: var(--grey);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    height: 400px;
    padding: 5px;
    gap: 5px;
}

.project-text {
    font-size: var(--medium-font);
    padding: 16px 0;
    text-align: center;
    background-color: var(--blue);
    width: 100%;
}

.project-tile:hover .project-text {
    font-size: var(--big-font);
    padding: 10px 0;
    background-color: var(--brown);
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: var(--blue);
}

#profile {
    height: calc(100vh - 71px);
    background-color: var(--brown);
    display: grid;
    align-content: center;
    gap: 70px;
    text-align: center;
}

#profile * {
    color: var(--black);
}

.some-word h1 {
    padding: 10px;
    font-size: var(--bigger-font);
}

.link {
    display: flex;
    gap: 60px;
    justify-content: center;
}

.link a {
    font-size: var(--big-font);
    font-weight: 800;
    padding: 15px 40px;
    border: 3px solid var(--black);
    border-radius: 15px;
}

#profile .link a:hover {
    color: var(--white);
    background-color: var(--black);
    border: 3px solid var(--white);
}

@media (max-width: 900px) {
    :root {
        --big-font: 30px;
        --medium-font: 22px;
        --bigger-font: 50px;
    }
}